[submodule "HEARTS-Text-Stereotype-Detection"]
	path = HEARTS-Text-Stereotype-Detection
	url = https://github.com/holistic-ai/HEARTS-Text-Stereotype-Detection
[submodule "difference_awareness"]
	path = difference_awareness
	url = https://github.com/Angelina-Wang/difference_awareness
[submodule "quantifying-stereotypes-in-language"]
	path = difference_awareness
	url = https://github.com/nlply/quantifying-stereotypes-in-language